<% provide(:title, "About") %>
<h1>About</h1>
<p>
	This is a sample web app called <a href="https://twitter-clone-h.herokuapp.com/">Twiiter Clone</a> on Ruby on Rails to prove my skills on the topics of developing a successful web application. The source code for this web app is at my <a href="https://github.com/hasan3d/TwitterClone"> Github</a> repository.

</p>
