<% provide(:title, "About") %>

<h1>About</h1>
<p>
<a href="https://twitter-clone-h.herokuapp.com/">Twiiter Clone</a> is a web app similar to the Twitter as you can guess from the name itself.	It has features like following people, followed by people , uploading photos, Microposts or Tweets limited to 140 characters etc. It has built with Ruby on Rails a popular framework of Ruby programming language and deployed to production on <a href="https://heroku.com/">Heroku</a>. Source code for the 
web app is on my <a href="https://github.com/hasan3d/TwitterClone">Github repository</a>.
</p>
