<% provide(:title, "Help") %>

<h1>Help</h1>
<p>
	Get help on using this web app at <a href="https://github.com/hasan3d/TwitterClone"> Twitter Clone Help Section.</a>
	To get help on Ruby on Rails please check the official documentation at <a href="http://guides.rubyonrails.org/"> Rubyonrails.org.</a>
</p>

